/* *{
  background-image: linear-gradient(76deg,rgb(235, 200, 135),plum)
} */
.profile-pic {
  width:300px;
  height: 300px;
  border-radius: 80%;
  object-fit: cover;
}


.App > div:nth-child(2) > .profile-pic {
  border-radius: 0px;
}

.first-container{
  padding: 1rem;
}

.Likebtn,.Dislikebtn{
  font-size: 1.5rem;
}

.Likebtn{
  margin-right : 1rem;
}

.align{
  display:flex;
}

.btnf{
  height:35px;
  width:100px
}

.Bookspec{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.Bookcontent{
  width:300px;
}

.BookImage{ 
  height:450px;
  width: 300px;
  object-fit: cover;
}

.BookSummary{
  margin-top: 0;
  font-size: 20px;
}

.BookList1{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 18px
  
}

.BookTitle{
  margin: 0;
}

.aligning{
  display: flex;
  flex-direction: column;
  gap : 15px
}

.not-found{
  width: 100%;
  height: 600px;
  object-fit: cover;
}